rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Règles pour la collection "membres"
    match /membres/{userId} {
      // Autorise la lecture et l'écriture UNIQUEMENT si l'utilisateur est connecté
      // ET que son identifiant (uid) correspond au document qu'il tente de modifier.
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
